/* стили масок */
.masks{
	/* width: 1920px;
	height: 332px; */
	width: 100vw;
	height: 17vw;
	display: block;
	background-image: url(../img/masks1.png);
	animation: masks 10s steps(1) infinite;
}

/* стили линий */
.line1, .line2{
	height: 50px;
	width: 100vw;
	display: block;
	position: relative;
	padding: 15px 0;
	overflow: hidden;
}
.line1 h1{
	width: 3841px;
	font-family: 'ProximaNova';
	font-size: 36pt;
	vertical-align: top;
	position: absolute;
	animation: line1 10s linear infinite;
}
.line2 h1{
	width: 3856px;
	font-family: 'ProximaNova';
	font-size: 36pt;
	vertical-align: top;
	position: absolute;
	animation: line2 10s linear infinite;
}
/* анимация масок */
@keyframes masks{
	/* 0%{
		background-position: 0 0;
	}
	11%{
		background-position: 0 -332px;
	}
	22%{
		background-position: 0 -664px;
	}
	33%{
		background-position: 0 -996px;
	}
	44%{
		background-position: 0 -1328px;
	}
	55%{
		background-position: 0 -1660px;
	}
	66%{
		background-position: 0 -1992px;
	}
	77%{
		background-position: 0 -2324px;
	}
	88%{
		background-position: 0 -2656px;
	}
	100%{
		background-position: 0 -2656px;
	} */
	0%{
		background-position: 0 0;
	}
	11%{
		background-position: 0 -12.5%;
	}
	22%{
		background-position: 0 -25%;
	}
	33%{
		background-position: 0 -37.5%;
	}
	44%{
		background-position: 0 -50%;
	}
	55%{
		background-position: 0 -62.5%;
	}
	66%{
		background-position: 0 -75%;
	}
	77%{
		background-position: 0 -87.5%;
	}
	88%{
		background-position: 0 -100%;
	}
	100%{
		background-position: 0 -100%;
	}
}

/* анимации линий */
@keyframes line1{
	0%{
		right: -1920px;
	}
	100%{
		right: calc(100% - 1920px);
	}
}

@keyframes line2{
	0%{
		right: -1920px;
	}
	100%{
		right: calc(100% - 1920px);
	}
}