/* анимация масок */
@keyframes masks{
	/* 0%{
		background-position: 0 0;
	}
	11%{
		background-position: 0 -332px;
	}
	22%{
		background-position: 0 -664px;
	}
	33%{
		background-position: 0 -996px;
	}
	44%{
		background-position: 0 -1328px;
	}
	55%{
		background-position: 0 -1660px;
	}
	66%{
		background-position: 0 -1992px;
	}
	77%{
		background-position: 0 -2324px;
	}
	88%{
		background-position: 0 -2656px;
	}
	100%{
		background-position: 0 -2656px;
	} */
	0%{
		background-position: 0 0;
	}
	11%{
		background-position: 0 12.5%;
	}
	22%{
		background-position: 0 25%;
	}
	33%{
		background-position: 0 37.5%;
	}
	44%{
		background-position: 0 50%;
	}
	55%{
		background-position: 0 62.5%;
	}
	66%{
		background-position: 0 75%;
	}
	77%{
		background-position: 0 87.5%;
	}
	88%{
		background-position: 0 100%;
	}
	100%{
		background-position: 0 100%;
	}
}

/* анимации линий */
@keyframes line1{
	0%{
		right: -1920px;
	}
	100%{
		right: calc(100% - 1920px);
	}
}
.line1 h1:hover{
	animation-play-state: paused;
}
@keyframes line2{
	0%{
		right: -1920px;
	}
	100%{
		right: calc(100% - 1920px);
	}
}
.line2 h1:hover{
	animation-play-state: paused;
}

@keyframes star{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.star:hover{
	animation-play-state: paused;
}

@keyframes sun{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
.sun:hover{
	animation-play-state: paused;
}

@keyframes zigzag{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.zigzag:hover{
	animation: zigzag 0.5s linear forwards;
}